<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

    <title>Sajt ssa</title>
</head>
<body>
<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/index">Home</a></li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Rad sa tabelama <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="/employees">Employees</a></li>
                <li role="presentation"><a href="/customers">Customers</a></li>
            </ul>
        </li>
        <!--<li role="presentation"><a href="/weka">Weka</a></li>-->
    </ul>

    <div id="rowAudio" class="row">
        <audio id="myAudio">
            <source src="audio/love.mp3">
            Your user agent does not support the HTML5 Audio element.
        </audio>
        <button class="btn btn-info" onclick="aud_play()">Play!</button>
    </div>


</div>
</nav>
</body>
</html>